<form>
  <div class="form-group">
    <label for="decimal_places">Número de casas</label>
    <input type="text" class="form-control" [(ngModel)]="challenge.numero_casas" id="decimal_places" name="decimal_places" disabled >    
  </div>
  <div class="form-group">
    <label for="token"  >Token</label>
      <input type="text" disabled class="form-control" id="token" [(ngModel)]="challenge.token" name="token">
  </div>
  <div class="form-group">
      <label for="encrypted"  >Cifrado</label>
     
        <input type="text" disabled class="form-control" id="encrypted" [(ngModel)]="challenge.cifrado" name="encrypted"> 

    </div>
    <div class="form-group">
        <label for="deciphered" >Decifrado</label>

          <input type="text" class="form-control" id="deciphered"  [(ngModel)]="challenge.decifrado" name="deciphered" >

      </div>
      <div class="form-group ">
          <label for="cryptographic_summary" disabled>Resumo criptográfico</label>
 
            <input type="text" class="form-control" id="cryptographic_summary" disabled name="cryptographic_summary" [(ngModel)]="challenge.resumo_criptografico" >
        </div>
        <div class="form-group ">
            <label for="file" disabled>Arquivo answer.json</label>
   
              <input type="file" class="form-control" id="file" name="file" (change)="sendResultToCodenation($event.target.files)">
          </div>

        <div class="row ">
        
        <div class="col-1">

          <button type="button" class="btn btn-success mb-2" [disabled]="!challenge.cifrado" (click)="decipherClick($event)">Decifrar</button>
        </div>
        <div class="col-1">

            <button type="button" class="btn btn-warning mb-2" [disabled]="!challenge.decifrado" (click)="sha1Click($event)">Sha1</button>
          </div>
      </div>
</form>