<form>
  <div class="form-group">
    <label for="decimal_places">Número de casas</label>
    <input type="text" class="form-control" id="decimal_places" disabled >    
  </div>
  <div class="form-group">
    <label for="token"  >Token</label>
      <input type="text" disabled class="form-control" id="token" >
  </div>
  <div class="form-group">
      <label for="cifrado"  >Cifrado</label>
     
        <input type="text" disabled class="form-control" id="cifrado" >

    </div>
    <div class="form-group">
        <label for="decifrado" >Decifrado</label>

          <input type="text" class="form-control" id="decifrado" >

      </div>
      <div class="form-group ">
          <label for="cryptographic_summary" disabled>Resumo criptográfico</label>
 
            <input type="text" class="form-control" id="cryptographic_summary" >
        </div>
</form>